# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Model Files
*.pth

# Outputs
outputs/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Dataset
dataset/    